<header id="header">
                <div class="common-width clearfix">
                    <h1 class="fl">
                        <a class="logo base-logo" href="index.html">沙漏外卖</a>
                    </h1>
                    
                        <ul class="member logging" ng-init="loginInfo=true">
                            <li><a href="{:U('Index/index')}" class="index">首页</a></li>
                        
        <if condition="$user_phone">

                            <li class="userName">
                                <a href="member_index.html" rel="nofollow" draw-user>{$user_phone}<em></em></a>
                                <div>
                                    <p><a href="member_index.html"  rel="nofollow">账号管理</a></p>
                                    <p><a href="member_addr.html"  rel="nofollow">地址管理</a></p>
                                    <p class="no-bo"><a id="logout" href="{:U('Login/login_out')}"  rel="nofollow">退出</a></p>
                                </div>
                            </li>
        <else />  
                        <li class="login-register">
                            <a href="{:U('Login/index')}"  class="login"  rel="nofollow">登录</a>
                                <span class="cg">/</span>
                            <a href="{:U('Register/index')}" rel="nofollow" class="register">注册</a>
                        </li>
            </if>
                            <li class=""><a href="member_order.html" class="order-center"  rel="nofollow">我的订单</a></li>
                            <li class=""><a href="member_collect.html"  rel="nofollow">我的收藏</a></li>
                            <li class=""><a href="gifts.html"  rel="nofollow">氪星礼品站</a></li>
                            
                        </ul>
                    
                </div>
            </header>
            