<header id="header">
                <div class="common-width clearfix">
                    <h1 class="fl">
                        <a class="logo base-logo" href="{:U('/Home/Index/index')}">沙漏外卖</a>
                    </h1>
                    
                        <ul class="member logging" ng-init="loginInfo=true">
                            <li><a href="{:U('Home/Index/index')}" class="index">首页</a></li>
                        
        <if condition="$user_phone">

                            <li class="userName">
                                <a href="{:U('Home/User/index')}" rel="nofollow" draw-user>{$user_phone}<em></em></a>
                                <div>
                                    <p><a href="{:U('Home/User/index')}"  rel="nofollow">账号管理</a></p>
                                    <p><a href="{:U('Home/User/user_addr')}"  rel="nofollow">地址管理</a></p>
                                    <p class="no-bo"><a id="logout" href="{:U('Home/Login/login_out')}"  rel="nofollow">退出</a></p>
                                </div>
                            </li>
        <else />  
                        <li class="login-register">
                            <a href="{:U('Home/Login/index')}" id="login"  class="login"  rel="nofollow">登录</a>
                                <span class="cg">/</span>
                            <a href="{:U('Home/Register/index')}" rel="nofollow" class="register">注册</a>
                        </li>
            <script>
                document.getElementById('login').href += "?redirect_url=" + window.location.href;
            </script>
            </if>
                            <li class=""><a href="{:U('Home/User/user_order')}" class="order-center"  rel="nofollow">我的订单</a></li>

                        </ul>
                    
                </div>
            </header>
            <div id="main-box">
                <!--二维码-->
                <div class="qrCode-frame" ng-hide="qrCodeStatus">
                    <img width="160px" height="160px" src="{:U('/Home/Home/index')}" alt="扫描二维码"/>
                    <em ng-click="qrCodeStatus=true">X</em>
                </div>
        <div ng-controller="colorAction">
          <div class="dayColor_two"></div>
          <div class="dayColor_one"></div>
          <div class="dayColor_three" ng-class="{dayColor_threeActive:threeActive}"></div>
        </div>


         